.bg-a39d {
    background-color: #242427;
}

.bg-2F2F32{
    background-color: #2F2F32;
}

.bg-353538 {
    background-color: #353538;
}

.bg-239f {
    background-color: #ffffff;
}

.bg-f5f378 {
    background-color: #F5F378;
}

.bg-19191a {
    background-color: #19191A;
}

.fill-s938f {
    fill: #ffffff;
}

.fill-s1938f33 {
    fill: #242427;
}

.text-bsdg932wf {
    color: #242427;
}
.text-8c8c8e {
    color: #8C8C8E;
}

.text-f5f378 {
    color: #F5F378;
}

.text-b2b2b4 {
    color: #B2B2B4;
}

.text-ff99b1{
    color: #FF99B1;
}
